<p id="notice"><%= notice %></p>

<h1>Commenters</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commenters.each do |commenter| %>
      <tr>
        <td><%= link_to 'Show', commenter %></td>
        <td><%= link_to 'Edit', edit_commenter_path(commenter) %></td>
        <td><%= link_to 'Destroy', commenter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commenter', new_commenter_path %>
