
    <% @courses.each do |course| %>
     
       <%= course.titre %>
        <%= course.matiere %>
      <%= course.fac %>
        <%= course.annee %>

        <%= link_to "Download Course", course.pdf_url %>

 <%= button_to "Delete",  course, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{course.pdf_url}?" %> 
     


<div class = "caption" styles="text-align:center;">
<%= link_to like_course_path(course), class: "like", method: :put do %>
<button type="button" class="btn btn-info" aria-label="Left Align">
<span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
<span class="badge"><%= course.get_upvotes.size%></span>
</button>
<%end%>


<%= link_to unlike_course_path(course), class: "like", method: :put do %>
<button type="button" class="btn btn-info" aria-label="Left Align">
<span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
<span class="badge"><%= course.get_downvotes.size%></span>
</button>
<%end%>
</div>
 

 
 <h2>
  <%= @course.comments.count %> Commentaires</h2>
  <%=render @course.comments %>
  <h3>Ajouter un commentaire</h3>
  <%= render 'comments/frm' %>





<% end -%>



