


<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Matière</th>
      <th>Fac</th>
      <th>Année</th>
      <th>Download Link</th>

    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.titre %></td>
        <td><%= course.matiere %></td>
        <td><%= course.fac %></td>
        <td><%= course.annee %></td>

        <td><%= link_to "Download Course", course.pdf_url %></td>

<td> <%= button_to "Delete",  course, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{course.pdf_url}?" %></td> 
     

<td> 
<div class = "caption" styles="text-align:center;">
<%= link_to like_course_path(course), class: "like", method: :put do %>
<button type="button" class="btn btn-info" aria-label="Left Align">
<span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
<span class="badge"><%= course.get_upvotes.size%></span>
</button>
<%end%>

<%= link_to unlike_course_path(course), class: "like", method: :put do %>
<button type="button" class="btn btn-info" aria-label="Left Align">
<span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
<span class="badge"><%= course.get_downvotes.size%></span>
</button>
<%end%>
</div>
</td>
</tr> 
  
</tbody>
</table>


<% end -%>
