<div class="container">

  <div class="row">

    <div class="col-sm-4 col-sm-offset-4">
    	<div class="panel panel-default" id="i">

      <div class="light-well">
        <h2 class="page-header text-center">Ton document</h2>


<% @courses.each do |course| %>

	 <div class="form-group">
	 
 <h3>Titre:  <%= @course.titre %></h3>




  <h3>Matiere:<%= @course.matiere %></h3>
 



  <h3>Fac:<%= @course.fac %></h3>



  <h3>Annee:<%= @course.annee %>
</h3>



 <center><%=  link_to 'Edit', edit_course_path(@course),  class: "btn btn-primary", style: "weight:50px"%>
 <%=  link_to 'Back', courses_path,  class: "btn btn-primary" %></center>

<% end -%>

</div>
</div>
</div>
</div>
</div>

<style type="">
	#i{
		margin-top: 20%;
		padding-left: 10%;
		padding-right: 10%;

	
</style>