<!DOCTYPE html>
<html>
  <head>
    <title>Freeschool</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  </head>

  <body>

  	  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render partial: 'layouts/menu' %>


       <ul>
           
  </body>
</html>
